<%- include('header'); -%>
<script>
    setTimeout(function () {
       // after 2 seconds
       window.location = "/pokedex";
    }, 2000)

  </script>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="https://pokeapi.co/">PokeAPI</a>
  </nav>

      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2> No data Pokemon found!, redirecting to pokedex<span class="animate">...</span></h2>
      </div>


</body>
<footer style="position: absolute;">
    <p class="tittle-credit">© 2020 E-S17.</p>
<footer>

</html>

